
.sidebar-container {
  width: 250px; /* Adjust width as needed */
  /* height: 100vh; Full height */
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Push logout to the bottom */
  background-color: #EFF5F5; /* Make background transparent */
  /* background-image: url('../../Assets/task.jpeg'); Path to your clock image */
  /* background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../../Assets/task.jpeg'); */
  background-size: contain; /* Cover the entire sidebar area */
  background-repeat: no-repeat;
  background-position: center center;
  box-shadow: 0 4px 1px rgba(73, 113, 116, 0.8);
}
.sidebar-menu,
.sidebar-logout {
  padding: 20px;
}
.divider{
  border-bottom: 1px dashed #EB6440;
  /* put in center  */
  margin: 0 auto;
  width: 100%;

  
}

.sidebar-link {
  display: flex;
  align-items: center;
  padding: 10px;
  color: #497174 !important;
  text-decoration: none;
  transition: background-color 0.3s;
  border-bottom: 1px dashed #fff; /* Adds a separator between links */
}

.sidebar-link:hover {
  background-color: #EB6440;
  color: #D6E4E5 !important;
  /* border-radius: 10px; */
}

.sidebar-icon {
  margin-right: 10px; /* Space between icon and text */
}
  
  /* .sidebar-links {
    list-style: none;
    padding: 0;
  }
   */
 
  .sidebar-header {
    padding: 20px;
    display: flex;
    justify-content: center; /* Center the logo image */
    align-items: center;
    border-bottom: 1px solid #fff; /* Optional: adds a separator */
  }
  
  .sidebar-logo {
    max-width: 100%; /* Ensures the image is not bigger than the container */
    height: auto; /* Maintains the aspect ratio */
  }
  .sidebar-logout {
    padding: 20px; /* Provide padding for logout section */
    border-top: 1px solid #fff; /* Adds a separator */
  }