.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
    background-color: #EAF6F6;
  }
  
  .auth-content {
    display: flex;
    justify-content: space-around; /* Adjusted for better spacing */
    align-items: center; /* Center items vertically */
    text-align: center; /* Center text for h2 and p */
    width: 100%;
    max-width: 900px; /* Adjust as necessary */
  }
  
  .login-card {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    flex-basis: 45%; /* Adjust the basis of the form card */
    margin: 0 10px; /* Provide some spacing around the card */
  }
  .login-form {
    /* ... your existing styles ... */
    flex: 1; /* Allows the form to grow and take up necessary space */
    margin-right: 20px; /* Adds some space between form and info box */
  }
  .login-form h2,
  .login-form p {
    margin: 20px 0; /* Add more space around the text */
  }
  
  .icons {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #ccc;
  }
  .form-field {
    position: relative;

    display: flex;
    /* flex-direction: column; */
    flex: 1 1;
    margin-bottom: 20px;
    text-align: left;
}
  
  .form-field input {
    /* width: 100%; */
    padding: 10px 35px;
    border: 2px solid #ccc;
    border-radius: 20px; /* Rounded borders for the input fields */
    font-size: 16px; /* Increase font size */
    transition: border-color 0.3s;
  }
  
  .form-field input:focus {
    outline: none;
    border-color: #007BFF; /* Highlight color when input is focused */
  }
  
  /* Adjustments for the info box */
  .info-box {
    /* background: linear-gradient(90deg, rgba(0,255,0,1) 0%, rgba(255,204,0,1) 100%); */
    background: linear-gradient(90deg, rgba(74, 112, 115) 0%, rgba(235, 103, 66) 100%);

    flex-basis: 45%; /* Adjust the basis of the info box */
    padding: 20px;
    border-radius: 8px;
    color: white;
    margin: 0 10px; /* Provide some spacing around the box */
  }
  
  
  .info-box li {
    margin-bottom: 10px;
    text-align: left;
  }


  .info-box ul {
    list-style: none; /* Removes default list styling */
    padding-left: 0; /* Resets default padding */
  }
  
  .info-box li {
    display: flex;
    align-items: center; /* Aligns icon and text vertically */
    margin-bottom: 10px; /* Spacing between items */
  }
  
  .info-icon {
    margin-right: 8px; /* Space between icon and text */
    color: #D6E4E5; /* Example color, adjust as needed */
  }
  
  .info-box li:last-child {
    margin-bottom: 0;
  }
  .info-box a{
    font-weight: bold;
  }
  /* Responsive design adjustments */
  @media (max-width: 768px) {
    .auth-content {
      flex-direction: column;
    }
  
    .login-card,
    .info-box {
      flex-basis: auto; /* Allow the cards to take the full width */
      margin: 10px 0; /* Adjust margin for mobile layout */
    }
  }