.user {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Use 100% of the viewport height */
  }
  
  .user-body {
    display: flex;
    flex: 1; /* The body takes up the remaining space */
  }
  
  .sidebar {
    width: 250px; /* Adjust the width of your sidebar as necessary */
    /* Add any additional sidebar styles here */
  }
  
  .user-content {
    flex-grow: 1; /* The content area takes up the remaining space */
    padding: 20px; /* Add some padding around the form */
  }